{
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "semicolons": true,
  "importOrder": [
    "^react(.*)",
    "^@api/(.*)$",
    "^@assets/(.*)$",
    "^@components/(.*)$",
    "^@consts/(.*)$",
    "^@helpers/(.*)$",
    "^@hooks/(.*)$",
    "^@pages/(.*)$",
    "^@routes/(.*)$",
    "^@store/(.*)$",
    "^@styles/(.*)$",
    "^@utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
